{% extends 'todo/main.html' %}

{% block content %}
<div class="header-bar">
    <h1>Reset Password</h1>
    <a href="{% url 'user-info' %}" class="back-button">&#8592; Back to User Info</a>
</div>
<div class="card-body">
    <form method="post">
        {% csrf_token %}
        <label for="id_new_password1">New Password:</label>
        <input type="password" name="new_password1" id="id_new_password1" required>
        <label for="id_new_password2">Confirm New Password:</label>
        <input type="password" name="new_password2" id="id_new_password2" required>

        <div class="reset-password-button">
            <button type="submit" class="big-button">Reset Password</button>
        </div>
    </form>
</div>
{% endblock %}
